# RRB NTPC 2019 CBT1 list for all levels (2,3,5,6)

## I have consolidated all the 4 different lists into single excel file and will analyze the excel file to find out interesting insights

 <p>
    <b> Source: </b> From Official RRB Secunderabad Website <br>
</p>
<strong>Level 2 data:<a> https://rrbsecunderabad.gov.in/pdf/RRB%20SC%20NTPC%20CBT-1%20RESULT%20LEVEL-2.pdf </a><br>
    Level 3 data: <a>https://rrbsecunderabad.gov.in/pdf/RRB%20SC%20NTPC%20CBT-1%20RESULT%20LEVEL-3.pdf     </a><br>
    Level 5 data: <a>https://rrbsecunderabad.gov.in/pdf/RRB%20SC%20NTPC%20CBT-1%20RESULT%20LEVEL-5.pdf </a><br>
    Level 6 data: <a>https://rrbsecunderabad.gov.in/pdf/RRB%20SC%20NTPC%20CBT-1%20RESULT%20LEVEL-6.pdf </a>
    </strong>

In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
L2_List= pd.read_excel("NTPC_2019_FinalList.xlsx", sheet_name="Level 2")
L3_List= pd.read_excel("NTPC_2019_FinalList.xlsx", sheet_name="Level 3")
L5_List= pd.read_excel("NTPC_2019_FinalList.xlsx", sheet_name="Level 5")
L6_List= pd.read_excel("NTPC_2019_FinalList.xlsx", sheet_name="Level 6")

In [3]:
L2_List.head(3)

,Data.Column5,Data.Column4,Data.Column3,Data.Column2,Data.Column1
0,281191120775839,281191120177103,281191120132087,281191110857762,281191110804602
1,281191120796947,281191120796944,281191120794449,281191120785626,281191120781805
2,281191120827293,281191120824408,281191120819739,281191120818129,281191120801033

In [4]:
L3_List.head(3)

,Data.Column1,Data.Column2,Data.Column3,Data.Column4,Data.Column5
0,281191110804602,281191110857762,281191120132087,281191120177103,281191120770488
1,281191120771930,281191120775839,281191120781805,281191120793483,281191120794449
2,281191120796944,281191120796947,281191120799574,281191120801033,281191120805021

In [5]:
L5_List.head(3)

,Data.Column1,Data.Column2,Data.Column3,Data.Column4,Data.Column5
0,281191110804602,281191110857762,281191110999607,281191111015640,281191120099308
1,281191120130732,281191120130804,281191120132087,281191120177103,281191120767739
2,281191120770369,281191120770836,281191120771930,281191120772447,281191120781805

In [6]:
L6_List.head(3)

,Data.Column1,Data.Column2,Data.Column3,Data.Column4,Data.Column5
0,281191110804602,281191110857762,281191110999607,281191120132087,281191120177103
1,281191120767739,281191120770369,281191120771930,281191120781805,281191120793483
2,281191120794449,281191120796944,281191120796947,281191120799574,281191120801033

<h5> since all the columns are different values and do not correlate to each other, would merge in to single column </h5>

In [43]:
sum(L2_List.size, L3_List.size, L5_List.size, L6_List.size)

TypeError: sum() takes at most 2 arguments (4 given)